<%- include layout/head %>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-5">
        <p>
          <a class="btn btn-primary btn-lg btn-block" href="events/new">+ New Event</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#recommended-events" data-toggle="tab" role="tab">Recommended Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#all-events" data-toggle="tab" role="tab">All Events</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="recommended-events" role="tabpanel">
            <div class="row">
              <% recommendedEvents.forEach(event => { %>
                <div class="col col-md-4 mt-3">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><%= event.title %></h4>
                      <p class="card-text"><%= event.description %></p>
                      <p class="card-text">
                        <small class="text-muted"><%= event.datetime.toDateString() %>, <%= event.datetime.toTimeString() %></small><br>
                        <span class="badge <%= session.interests.indexOf(event.Category.id) >= 0 ? 'badge-primary' : 'badge-secondary'%>"><%= event.Category.label %></span>
                      </p>

                    </div>
                    <div class="card-footer text-right">
                      <a class="btn btn-primary "href="events/<%= event.id %>">More...</a>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
          <div class="tab-pane fade" id="all-events" role="tabpanel">
            <div class="row">
              <% allEvents.forEach(event => { %>
                <div class="col col-md-4 mt-3">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><%= event.title %></h4>
                      <p class="card-text"><%= event.description %></p>
                      <p class="card-text">
                        <small class="text-muted"><%= event.datetime.toDateString() %>, <%= event.datetime.toTimeString() %></small><br>
                        <span class="badge <%= session.interests.indexOf(event.Category.id) >= 0 ? 'badge-primary' : 'badge-secondary'%>"><%= event.Category.label %></span>
                      </p>

                    </div>
                    <div class="card-footer text-right">
                      <a class="btn btn-primary "href="events/<%= event.id %>">More...</a>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<%- include layout/foot %>
