<%- include layout/head %>
    <div class = "container">
      <div class = "row justify-content-center">
        <div class = "col col-md-6">
          <h1><%= title %></h1>
          <form action="/events/new" method="post">
            <div class = "form-group">
              <label for="title">Tittle:</label>
              <input type="text" name="title" placeholder="input event title" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <div>
                <textarea name="description" rows="3" class="form-control" id="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="place">Place :</label>
              <input type="text" name="place" placeholder="input your place" class= "form-control" id="place">
            </div>
            <div class="form-group">
              <label for="datetime">Date Time:</label>
              <input type="datetime-local" name="datetime" placeholder="input your date" class="form-control" id="datetime">
            </div>
            <div class="form-group">
              <label for="CategoryId">Pick a Category:</label>
              <select class="form-control" name="CategoryId" id="CategoryId">
                <% combobox.forEach(category => { %>
                  <option value=<%= category.id %>><%= category.label %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
<%- include layout/foot %>
