<%- include layout/head %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h1><%= title %></h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-md-6">
                <h4 class="card-title">Description</h4>
                <p class="card-text"><%= event.description %></div>
              <div class="col col-md-6">
                <h4 class="card-title">Details</h4>
                <ul class="list-group">
                  <li class="list-group-item">
                    Date and Time: <strong><%= dateToStringShow(event.datetime) %></strong>
                  </li>
                  <li class="list-group-item">
                    Place: <strong><%= event.place %></strong>
                  </li>
                  <li class="list-group-item">
                    Category: <span class="badge <%= session.interests.indexOf(event.Category.id) >= 0 ? 'badge-primary' : 'badge-secondary'%>"><%= event.Category.label %></span>
                  </li>
                  <li class="list-group-item">
                    Created by: <%= event.User.full_name %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center mt-4">
      <div class="col-md-5">
        <form action="/events/<%= event.id %>" method="post">
          <% if (participantsId.indexOf(session.UserId) >= 0) { %>
            <input type="hidden" name="type" value="cancel">
            <input type="submit" class="btn btn-danger btn-lg btn-block" value="CANCEL">
          <% } else { %>
            <input type="hidden" name="type" value="participate">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="PARTICIPATE">
          <% } %>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4>Participant</h4>
          </div>
          <ul class="list-group list-group-flush">
            <% event.User_Events.forEach((user, index) => { %>
              <li class="list-group-item">
                <%= index + 1 %>.
                <strong><%= user.User.full_name %></strong>
                <small class="text-muted">
                  Participated at <%= dateToStringShow(new Date(user.createdAt)) %>
                </small>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%- include layout/foot %>
