<%- include layout/head %>
  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <h1>My Profile</h1>

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= user.full_name %></td>
            </tr>
            <tr>
              <td>Username</td>
              <td><%= user.username %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= user.email %></td>
            </tr>
              <tr>
                <td colspan="2">
                  <a class="btn btn-primary" href="/users/add-interest">Add your Interest!</a>
                  <a class="btn btn-secondary disabled" href="#">Edit Profile</a>
                  <a class="btn btn-danger disabled" href="#">Delete Account</a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <h1>My Events</h1>
        <% user.myEvents.forEach(event => { %>
          <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title"><%= event.title %></h4>
              <p class="card-text"><%= event.description %></p>
              <p class="card-text">
                <small class="text-muted"><%= dateToStringShow(event.datetime) %></small>
                <span class="badge <%= session.interests.indexOf(event.Category.id) >= 0 ? 'badge-primary' : 'badge-secondary'%>"><%= event.Category.label %></span>
              </p>

            </div>
            <div class="card-footer text-right">
              <a class="btn btn-secondary" href="events/edit/<%= event.id %>">Edit</a>
              <a class="btn btn-danger" href="events/delete/<%= event.id %>">Delete</a>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="col col-md-6">
        <h1>Events I have to attend</h1>
          <div class="list-group">
          <% user.User_Events.forEach(event => { %>
            <a href="/events/<%= event.Event.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= event.Event.title %></h5>
                <small><%= dateToStringShow(event.Event.datetime) %></small>
              </div>
              <p id="countdown<%= event.Event.id %>" class="mb-1"></p>
              <small class="text-muted">Event by: <%= event.Event.User.full_name %></small>
            </a>
            <script type="text/javascript">
              var timerId = countdown(
                new Date('<%= event.Event.datetime %>'),
                function(ts) {
                  document.getElementById('countdown<%= event.Event.id %>').innerHTML = ts.toHTML("strong");
                },
                countdown.MONTHS|countdown.DAYS|countdown.HOURS);
            </script>
          <% }) %>
        </div>
      </div>
    </div>


  </div>

<%- include layout/foot %>